footer {
  background: linear-gradient(to right, #4daf54, #3d8880);
  .container {
    max-width: 1200px !important;
    margin: auto;
    .footer__main {
      .row {
        .col-4 {
          ul {
            li {
              a {
                color: #fff;
              }
              .footer__phone--left {
                i {
                  color: #fff;
                  display: block;
                  height: 40px;
                  width: 40px;
                  line-height: 40px;
                  text-align: center;
                  background: #b3ffab; /* fallback for old browsers */
                  background: -webkit-linear-gradient(
                    to right,
                    #12fff7,
                    #b3ffab
                  ); /* Chrome 10-25, Safari 5.1-6 */
                  background: linear-gradient(
                    to right,
                    #12fff7,
                    #b3ffab
                  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                  border-radius: 50px;
                }
              }
              .footer__phone--right {
                span {
                  font-weight: 600;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .copyRight {
      .footer__cypyright--left {
      }
      .footer__cypyright--right {
        a {
          i {
            color: #fff;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
